<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tico.tico.mapper.Comment2LaptopMapper">
    <!--   List<Comment2Laptop> getAll();-->
    <select id="getAll" resultType="com.tico.tico.entities.Comment2Laptop">
    select * from comment_laptop
    </select>
</mapper>