<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tico.tico.mapper.LaptopMapper">
    <!--   List<Laptop> getAll();-->
    <select id="getAll" resultType="com.tico.tico.entities.Laptop">
    select * from laptopinfo
    </select>


    <select id="getLaptopByName" resultType="com.tico.tico.entities.Laptop">
        select * from laptopinfo where laptop_name=#{name}
    </select>

    <select id="getLaptopLikeBrand" resultType="com.tico.tico.entities.Laptop">
        select * from laptopinfo where laptop_brand=#{brand}
    </select>
    <select id="getLaptopLikeType" resultType="com.tico.tico.entities.Laptop">
        select * from laptopinfo where laptop_type like "%"#{type}"%"
    </select>
    <select id="getLaptopLikeBrandAndType" resultType="com.tico.tico.entities.Laptop">
        select * from laptopinfo where laptop_brand=#{brand} and laptop_type like "%"#{type}"%"
    </select>
    <select id="searchLaptop" resultType="com.tico.tico.entities.Laptop">
        select * from laptopinfo where laptop_name like "%"#{key}"%" or laptop_type like "%"#{key}"%"
    </select>
</mapper>