<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tico.tico.mapper.MouseMapper">
    <!--   List<Mouse> getAll();-->
    <select id="getAll" resultType="com.tico.tico.entities.Mouse">
    select * from mouseinfo
    </select>

    <select id="getMouseByName" resultType="com.tico.tico.entities.Mouse">
        select * from mouseinfo where mouse_name=#{name}
    </select>

    <select id="getMouseLikeBrand" resultType="com.tico.tico.entities.Mouse">
        select * from mouseinfo where mouse_brand=#{brand}
    </select>
    <select id="getMouseLikeType" resultType="com.tico.tico.entities.Mouse">
        select * from mouseinfo where mouse_type like "%"#{type}"%"
    </select>
    <select id="getMouseLikeBrandAndType" resultType="com.tico.tico.entities.Mouse">
        select * from mouseinfo where mouse_brand=#{brand} and mouse_type like "%"#{type}"%"
    </select>
    <select id="searchMouse" resultType="com.tico.tico.entities.Mouse">
        select * from mouseinfo where mouse_name like "%"#{key}"%" or mouse_type like "%"#{key}"%"
    </select>
</mapper>