<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tico.tico.mapper.PanelMapper">
    <!--   List<Panel> getAll();-->
    <select id="getAll" resultType="com.tico.tico.entities.Panel">
    select * from panelinfo
    </select>

    <select id="getPanelByName" resultType="com.tico.tico.entities.Panel">
        select * from panelinfo where panel_name=#{name}
    </select>

    <select id="getPanelLikeBrand" resultType="com.tico.tico.entities.Panel">
        select * from panelinfo where panel_brand=#{brand}
    </select>
    <select id="getPanelLikeType" resultType="com.tico.tico.entities.Panel">
        select * from panelinfo where panel_type like "%"#{type}"%"
    </select>
    <select id="getPanelLikeBrandAndType" resultType="com.tico.tico.entities.Panel">
        select * from panelinfo where panel_brand=#{brand} and panel_type like "%"#{type}"%"
    </select>
    <select id="searchPanel" resultType="com.tico.tico.entities.Panel">
        select * from panelinfo where panel_name like "%"#{key}"%" or panel_type like "%"#{key}"%"
    </select>
</mapper>